In [1]:
d = {'key1': 'value', 'key2': 123}

In [2]:
d

{'key1': 'value', 'key2': 123}

In [3]:
d['key1']

'value'

In [4]:
d['key2']

123

In [5]:
d = {'k1': [1,2,3]}

In [7]:
d['k1'][2]

3

In [8]:
d = {'k1': {'innerkey': [1,2,3]}}

In [9]:
d['k1']['innerkey'][1]

2

In [10]:
True

True

In [11]:
False

False

In [12]:
my_list = [1,2,3]

In [13]:
my_list[0]

1

In [14]:
t = (1,2,3)

In [15]:
t[0]

1

In [16]:
my_list

[1, 2, 3]

In [17]:
my_list[0] = 'NEW'

In [18]:
my_list

['NEW', 2, 3]

t[0] = 7 # a tuple is immutable and a list is mutable

In [21]:
# A set is a collection of unique elements

In [22]:
{1,2,3}

{1, 2, 3}

In [23]:
{1,1,1,2,3,4,2,3,4}

{1, 2, 3, 4}

In [24]:
set([1,1,2,32,32,2,2,2])

{1, 2, 32}

In [25]:
s = {1,2,3}

In [26]:
s

{1, 2, 3}

In [27]:
s.add(5)

In [28]:
s

{1, 2, 3, 5}

In [29]:
s.add(5)

In [30]:
s

{1, 2, 3, 5}

In [31]:
1 > 5

False

In [32]:
2 < 5

True

In [33]:
3 >= 5

False

In [34]:
4==5

False

In [35]:
5 != 7

True

In [36]:
'hi' == 'bye'

False

In [37]:
'hi' != 'bye'

True

In [38]:
(1 > 2) and (2 < 7)

False

In [39]:
(1 > 2) or (2 < 7)

True

In [40]:
(1 > 2) and (2 < 7) or (1 == 1)

True

In [41]:
True and True

True

In [42]:
True and False

False

In [45]:
if 1 <2:
    print('yep!')

yep!

In [48]:
if 1 == 2:
    print('first')
elif 3 ==3:
    print('middle')
else:
    print('last')

middle

In [49]:
seq = [1,2,3,4,5]

In [50]:
seq

[1, 2, 3, 4, 5]

In [55]:
for num in seq:
    print(num)

1
2
3
4
5

In [58]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [59]:
range(0, 5)

range(0, 5)

In [61]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [62]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [63]:
range(8)

range(0, 8)

In [66]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [68]:
x = [1,2,3,4]

In [71]:
out = []

for num in x:
    out.append(num ** 2)

In [72]:
out

[1, 4, 9, 16]

In [73]:
[num**2 for num in x]

[1, 4, 9, 16]

In [74]:
out = [num**2 for num in x]

In [75]:
out

[1, 4, 9, 16]

In [76]:
def my_func():
    print('hello')

In [77]:
my_func()

hello

In [84]:
def another_func(name= 'meryem'):
    print('Hello ' + name)

In [82]:
another_func('osman')

Hello osman

In [85]:
another_func()

Hello meryem

In [90]:
def square(num):
    """
    This is a docstring
    This function squares a number
    Something like that
    """
    return num**2

In [87]:
output = square(9)

In [88]:
output

81

In [ ]:
# range or square + shift tab